langchain==0.2.12
langchain-community==0.2.11
faiss-cpu==1.13.2
pypdf==4.2.0
gradio==4.44.0
geopy==2.4.1
shapely==2.0.4
requests==2.32.3
numpy==1.26.4
openai==1.35.14
tqdm==4.66.4
huggingface_hub==0.23.4
langchain-openai
sentence-transformers